@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,300&display=swap");

html,
body {
  --mobile-max-width: 375px;
  --desktop-max-width: 1440px;

  --blue: hsl(246, 80%, 60%);
  --soft-blue: hsl(195, 74%, 62%);
  --light-red: hsl(15, 100%, 70%);
  --lime-green: hsl(145, 58%, 55%);
  --violet: hsl(264, 64%, 52%);
  --soft-orange: hsl(43, 84%, 65%);

  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);

  height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  background-color: #0e1323;
  color: white;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
  /* border: 1px solid white; */
}
/*
    3. Allow percentage-based heights in the application
  */

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  padding: 1%;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 0.1px);
  text-align: center;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

.container {
  width: fit-content;
  display: flex;
  margin: 0 auto;
  padding-top: 2em;
  background-color: var(--light-red);
  background-image: url("../assets/images/icon-work.svg");
  background-position: 94% -15%;
  background-repeat: no-repeat;
  border-radius: 1em;
  /* padding-bottom: 5em; */
  /* /* border-radius: 1em; */
  /* margin-right: 1.5em; */
}

.card-information {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 1em;
  gap: 1em;
  width: 327px;
  background-color: var(--dark-blue);
  padding-bottom: 70px;
  position: relative;
  z-index: 2;
}

.user-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.user-report-container {
  /* margin-right: 1.5em; */
  width: 327px;
}

.user-report {
  background-color: var(--blue);
  padding: 1em;
  border-radius: 1em;
  position: relative;
  z-index: 2;
  display: flex;
}
.time-option {
  background-color: var(--dark-blue);
  padding: 1.5em;
  padding-top: 2.8em;
  padding-left: 1.7em;
  display: flex;
  border-radius: 0 0 1em 1em;
  flex-direction: column;
  transform: translateY(-1em);
  z-index: 1;
}

.user-report img {
  width: 100px;
  height: 100px;
  margin-right: 1em;
  border-radius: 100%;
  border: solid white 4px;
}

.time-option button {
  margin: 0.5em 0;
  background: transparent;
  text-align: left;
  outline: none;
  border: none;
  font-size: 1em;
  letter-spacing: 0.5px;
  cursor: pointer;
}

/* .reports-container{
  min-width: 900px;
} */

/* .user-report {
  background-color: var(--light-blue);
  padding: 1.5em 2em;
  border-radius: 1em;
  transform: translateY(-0.8em);
  transition: 0.3s ease all;
  cursor: pointer;
} */

.user-report:hover {
  background-color: var(--light-blue);
}

.user-report .title {
  display: flex;
  justify-content: space-between;
  width: 100;
  font-size: 1.1em;
}

/* .user-report h2 {
  font-weight: 200;
  font-size: 3em;
  margin: 0.4em 0;
} */

.last-time {
  color: hsl(0, 1%, 72%);
}

.text-muted {
  color: hsl(0, 1%, 72%);
}

/* .big-text {
  font-size: 3em;
  font-weight: 100;
} */
