@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,300&display=swap");

html,
body {
  --mobile-max-width: 375px;
  --desktop-max-width: 1440px;

  --work-light-red: hsl(15, 100%, 70%);
  --blue: hsl(246, 80%, 60%);
  --soft-blue: hsl(195, 74%, 62%);
  --light-red: hsl(348, 100%, 68%);
  --lime-green: hsl(145, 58%, 55%);
  --violet: hsl(264, 64%, 52%);
  --soft-orange: hsl(43, 84%, 65%);

  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);

  height: 100vh;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  background-color: #0e1323;
  color: white;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
  /* border: 1px solid white; */
}
/*
    3. Allow percentage-based heights in the application
  */

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  padding: 1%;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 0.1px);
  text-align: center;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* .app-container {
  display: flex;
  flex-direction: row;
} */

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.background {
  margin: 0 auto;
  padding-top: 3em;
  background-position: 93% 42%;
  background-repeat: no-repeat;
  border-radius: 1em 1em 0em 0em;
}

.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 66.36px; */
  letter-spacing: 0px;
  text-align: left;
}

.timecards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* justify-items: center; */
  /* gap: 1em; */
  /* justify-items: center; */
}

.time-container {
  width: 327px;
}
.card-information {
  background-color: var(--dark-blue);
  padding: 28px;
  border-radius: 1em;
  transform: translateY(-0.8em);
  transition: 0.3s ease all;
  cursor: pointer;
}

.user-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* padding: 0.5em; */
}

.user-report-container {
  /* margin-right: 1.5em; */
  width: 327px;
}

.user-report {
  background-color: var(--blue);
  padding: 35px 35px 15px 35px;
  border-radius: 1em;
  position: relative;
  z-index: 2;
  display: flex;
}
.time-option {
  background-color: var(--dark-blue);
  padding: 40px 25px 20px;
  /* padding-top: 2.8em;
  padding-left: 1.7em; */
  display: flex;
  border-radius: 0 0 1em 1em;
  flex-direction: row;
  justify-content: space-between;
  transform: translateY(-1em);
  z-index: 1;
}

.user-report img {
  width: 64px;
  height: 64px;
  margin-right: 1em;
  border-radius: 100%;
  border: solid white 4px;
}

.user-report p {
  text-align: left;
  padding-top: ;
}
.time-option button {
  /* margin: 0.5em 0; */
  background: transparent;
  text-align: left;
  outline: none;
  border: none;
  font-size: 1em;
  letter-spacing: 0.5px;
  cursor: pointer;
}

/* .user-report:hover {
  background-color: var(--light-blue);
} */

.user-report .title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100;
  font-size: 18px;
  font-weight: 300;
}

/* .user-report h2 {
  font-weight: 200;
  font-size: 3em;
  margin: 0.4em 0;
} */

.last-time {
  color: hsl(0, 1%, 72%);
}

.text-muted {
  color: hsl(0, 1%, 72%);
}

/* .big-text {
  font-size: 3em;
  font-weight: 100;
} */
.hours {
  text-align: left;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 38px;
  letter-spacing: 0px;
}

.last-time {
  text-align: right;
}

.big-text {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0px;
  display: flex;
  justify-content: space-around;
}
.small-text {
  font-size: 15px;
  font-weight: 100;
}

#weekly-btn {
  margin-left: 50px;
}

#monthly-btn {
  margin-left: 30px;
}

.Work .background {
  background-color: var(--work-light-red);
  background-image: url("../assets/images/icon-work.svg");
}

.Play .background {
  background-color: var(--soft-blue);
  background-image: url("../assets/images/icon-play.svg");
}

.Study .background {
  background-color: var(--light-red);
  background-image: url("../assets/images/icon-study.svg");
}

.Exercise .background {
  background-color: var(--lime-green);
  background-image: url("../assets/images/icon-exercise.svg");
}

.Social .background {
  background-color: var(--violet);
  background-image: url("../assets/images/icon-social.svg");
}

.Self-Care .background {
  background-color: var(--soft-orange);
  background-image: url("../assets/images/icon-self-care.svg");
}

@media only screen and (min-width: 900px) {
  .container {
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    /* padding-top: 2em; */
  }

  .user-report {
    flex-direction: column;
  }
  .timecards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr, 200px);
    /* grid-gap: 30px; */
    /* justify-items: center; */
  }
  .time-container,
  .user-report-container {
    width: 255px;
  }
  .user-report-container {
    margin-right: 25px;
  }
  .user-report img {
    margin-bottom: 43px;
  }
  .title {
    padding-bottom: 24px;
  }
  .hours {
    padding-bottom: 20px;
  }
  .big-text {
    flex-direction: column;
    font-size: 40px;
    font-family: Rubik;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 47px;
    letter-spacing: 0px;
    margin-bottom: 45px;
  }
  .small-text {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 10px;
  }
  .first-name {
    margin-bottom: 10px;
  }
  .last-time {
    font-size: 15px;
    font-weight: 400;
    line-height: 17.78px;
    text-align: left;
  }
  .hours {
    font-size: 56px;
  }
  .time-option {
    flex-direction: column;
    align-items: flex-start;
  }

  .time-option button {
    padding-bottom: 10px;
  }
  #monthly-btn,
  #weekly-btn {
    margin: 0;
  }
}
